@font-face {
    font-family: fnt;
    src: url(actionj.ttf);
}

#logo
{
	text-align: left;
	float: left;
	left: 0px;
	top: 0px;
	position: absolute;
}

#navBar
{
	top: 0px;
	margin-left: 90px;
	text-align: left;
	width: screen.width;
	height: 50px;
    background-color: #90D4F2;
}

#navBar ul
{
	padding-top: 16px;
	list-style-type: none;
}

#navBar li
{
	display: inline;
	font-family: fnt;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#navBar li:hover
{
	background-color: #0026FF;
	color: #FFFFFF;
}

#navBar li.selected
{
	color: #FFFFFF;
}

#navBar li.logo:hover
{
	background-color: transparent;
}


#navbarlink
{
	color: #000000;
	text-decoration: none;
}

#intro
{
	text-align: center;
	width: screen.width;
	height: 200px;
	padding-right: 10px;
	
	-webkit-transition: background 1s linear;
	-ms-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -o-transition: background 1s linear;
	transition: background 1s linear;
	transitionStyle: "fade";
	background: url('images/introbg.png') no-repeat center;
}

#intro h1
{
	padding-top: 50px;
	color: #FFFFFF;
}

#mainContent
{
	text-align: center;
	background-color: #FFFFFF;
	padding-top:20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom:20px;
}

#mainContent a
{
	color: #43BBEF;
	text-decoration: none;
}

#mainContent a:hover
{
	color: #0026FF;
}

#sideContent
{
	background-color: #CECECE;
	width: 500px;
	float: right;
	margin-right: 10px;
}

body
{
	background-color: #43BBEF;
	font-family: "Arial";
}

#info
{
	text-align: center;
	color: #FF0000;
	background-color: #CECECE;
}